openapi: 3.2.0
info:
  title: Velaris Public Attribute Change Log API
  version: 1.0.0
  description: The Velaris Public API for the AI Customer Success Platform. Manage organizations, accounts, contacts, opportunities, risks, custom objects, activities, notes, tickets, tasks, users, surveys and more. Base URL https://api.euw1.velaris.io. Converted by API Evangelist from the provider-published public Postman collection (https://developers.velaris.io/).
  contact:
    name: Velaris
    url: https://www.velaris.io/
servers:
- url: https://api.euw1.velaris.io
  description: EU-West-1 production
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Attribute Change Log
paths:
  /attribute-change-log:
    post:
      operationId: getAttributeChangelog
      summary: Get Attribute Changelog
      tags:
      - Attribute Change Log
      description: 'Pagination


        Attribute changelog response is paginated using the attribute changed date. To fetch the next page last received changelog chaged date should be passed as the cursor in the next request.


        Page size : 50


        Request Body


        Attribute

        Description

        Example


        entity (required)

        One of internal id or external id should be provided.


        Accepted values:

        level: orgnization, account, contact

        internalId : velaris entity id (number)

        externalId : velaris entity external id (string)

        {

        "level": "organization",

        "externalId": "23487-df3242",

        "internalId": 1

        }


        filters (optional)

        Alteast one filter should be provided. Multiple filters from the same category cannot be provided in the same request.


        Attribute filter (map) - filter the changelog by the attribute required

        {"name": "attribute", "operator": "isSetTo", "value": []}


        Accepted values:

        name : attribute

        operator : isSetTo

        value: array of custom or system attributes.

        system attributes: lifecycle_stage, owner, email, about, churn_date, churn_reason, external_id

        custom attributes: API name of the custom attribute should be provided

        [ { "name": "attribute", "operator": "isSetTo", "value": ["lifecycle_stage", "about"] } ]


        cursor (optional)

        To filter the attribute changes happened before the given date time. Cursor should be in yyyy-MM-dd''T''HH:mm:ss.SSSZ format

        "2023-04-27T05:43:55.000Z"'
      requestBody:
        content:
          application/json:
            example:
              entity:
                level: organization
                internalId: 10000
              filters:
              - name: attribute
                operator: isSetTo
                value:
                - name
                - lifecycle_stage
      responses:
        '200':
          description: 200 - Success
          content:
            application/json:
              example:
                status: success
                data:
                - source: entity_custom_data
                  organizationId: '1'
                  customColumnId: 1
                  fieldName: name
                  changedBy: 81
                  changedAt: '2024-02-05T11:37:37.000Z'
                  previousValue: Acme Inc
                  newValue: Acme Inc - Updated
                - source: entity_custom_data
                  organizationId: '1'
                  customColumnId: 1
                  fieldName: name
                  changedBy: 81
                  changedAt: '2024-02-05T11:36:34.000Z'
                  previousValue: null
                  newValue: Acme Inc
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'User-scoped access token. Header: Authorization: Bearer {access_token}. Create under Profile > Security > Access token.'
    basicAuth:
      type: http
      scheme: basic
      description: Legacy. Base64(username:password). Not available for SSO/MFA tenants.
