openapi: 3.0.3
info:
  title: Velaris Public Activity Notes API
  version: 1.0.0
  description: The Velaris Public API for the AI Customer Success Platform. Manage organizations, accounts, contacts, opportunities, risks, custom objects, activities, notes, tickets, tasks, users, surveys and more. Base URL https://api.euw1.velaris.io. Converted by API Evangelist from the provider-published public Postman collection (https://developers.velaris.io/).
  contact:
    name: Velaris
    url: https://www.velaris.io/
servers:
- url: https://api.euw1.velaris.io
  description: EU-West-1 production
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Notes
paths:
  /notes:
    get:
      operationId: getNotes
      summary: Get Notes
      tags:
      - Notes
      responses:
        '200':
          description: OK
    post:
      operationId: createNote
      summary: Create Note
      tags:
      - Notes
      requestBody:
        content:
          application/json:
            example:
              body: '"<p style=\"color:#706669;\">Created Date (UTC): May 24, 2023, 11:16 AM | Created By: Sheruni Fernandon</p>"'
              title: Test - 03
              source: HUBSPOT
              externalId: Test-3-creation
              linkedEntities:
              - type: organization
                externalId: amorg1
              - type: organization
                id: 1
              - type: organization
                id: 3
              - type: account
                id: 15
              - type: account
                id: 12
              - type: account
                externalId: '26'
              - type: pipeline
                id: 8
              - type: pipeline
                id: 10
              - type: contact
                email: test.chathudya+00002@gmail.com
              - type: contact
                email: test.chathudya+00002@gmail.com
              - type: contact
                externalId: '4'
      responses:
        '200':
          description: OK
  /notes/:id:
    get:
      operationId: getNoteByExternalId
      summary: Get Note by External ID
      tags:
      - Notes
      responses:
        '200':
          description: OK
    put:
      operationId: updateNoteWithExternalId
      summary: Update Note with External ID
      tags:
      - Notes
      requestBody:
        content:
          application/json:
            example:
              body: '"<p style=\"color:#706669;\">Created Date (UTC): May 24, 2028, 13:18 AM | Created By: Sheruni</p>"'
              linkedEntities:
              - type: organization
                id: 3
              - type: account
                id: 16
              - type: account
                id: 12
              - type: account
                externalId: '26'
              - type: pipeline
                id: 8
              - type: pipeline
                id: 12
              - type: contact
                email: test.chathudya+00002@gmail.com
      responses:
        '200':
          description: OK
    delete:
      operationId: deleteNoteWithSourceId
      summary: Delete Note with Source ID
      tags:
      - Notes
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'User-scoped access token. Header: Authorization: Bearer {access_token}. Create under Profile > Security > Access token.'
    basicAuth:
      type: http
      scheme: basic
      description: Legacy. Base64(username:password). Not available for SSO/MFA tenants.
