openapi: 3.0.3
info:
  title: Velaris Public Activity Lifecycles API
  version: 1.0.0
  description: The Velaris Public API for the AI Customer Success Platform. Manage organizations, accounts, contacts, opportunities, risks, custom objects, activities, notes, tickets, tasks, users, surveys and more. Base URL https://api.euw1.velaris.io. Converted by API Evangelist from the provider-published public Postman collection (https://developers.velaris.io/).
  contact:
    name: Velaris
    url: https://www.velaris.io/
servers:
- url: https://api.euw1.velaris.io
  description: EU-West-1 production
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Lifecycles
paths:
  /lifecycles:
    get:
      operationId: getLifecycleStages
      summary: Get Lifecycle Stages
      tags:
      - Lifecycles
      description: '<p>Get active lifecycle stages in each level</p>

        '
      responses:
        '200':
          description: 200 - Success
          content:
            application/json:
              example:
                status: success
                data:
                - lifecycleStageId: 1
                  displayName: Stage 1
                  isDefault: true
                  isSystem: false
                  isBoardVisible: false
                  colorCode: null
                  description: null
                  createdOn: '2022-08-28T20:37:41.000Z'
                  createdBy: 7
                  modifiedOn: '2023-12-31T16:43:56.000Z'
                  modifiedBy: 7
                  systemLabel: null
                  entityLevel: 1
                  archived: 0
                  order: 1|j
                  usage: 5
                - lifecycleStageId: 2
                  displayName: Stage 2
                  isDefault: true
                  isSystem: false
                  isBoardVisible: false
                  colorCode: null
                  description: null
                  createdOn: '2021-12-06T16:31:20.000Z'
                  createdBy: 0
                  modifiedOn: '2022-08-09T10:31:54.000Z'
                  modifiedBy: 81
                  systemLabel: null
                  entityLevel: 1
                  archived: 0
                  order: 1|k
                  usage: 4773
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'User-scoped access token. Header: Authorization: Bearer {access_token}. Create under Profile > Security > Access token.'
    basicAuth:
      type: http
      scheme: basic
      description: Legacy. Base64(username:password). Not available for SSO/MFA tenants.
