# generated: '2026-07-21'
# method: searched
# source: https://developers.velaris.io/ (provider-published public Postman collection)
openapi: 3.0.3
info:
  title: Velaris Public API
  version: 1.0.0
  description: The Velaris Public API for the AI Customer Success Platform. Manage organizations, accounts, contacts, opportunities,
    risks, custom objects, activities, notes, tickets, tasks, users, surveys and more. Base URL https://api.euw1.velaris.io.
    Converted by API Evangelist from the provider-published public Postman collection (https://developers.velaris.io/).
  contact:
    name: Velaris
    url: https://www.velaris.io/
servers:
- url: https://api.euw1.velaris.io
  description: EU-West-1 production
tags:
- name: Entity Management V1
- name: Entity Management V2
- name: Custom Objects
- name: Attribute Change Log
- name: Activity
- name: Notes
- name: Lifecycles
- name: Ticketing
- name: Users
- name: Tasks
- name: Currencies
- name: Field Definitions
- name: Surveys
- name: Integrations
security:
- bearerAuth: []
- basicAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'User-scoped access token. Header: Authorization: Bearer {access_token}. Create under Profile > Security
        > Access token.'
    basicAuth:
      type: http
      scheme: basic
      description: Legacy. Base64(username:password). Not available for SSO/MFA tenants.
paths:
  /core/organizations:
    get:
      operationId: getAllOrganizationsV1
      summary: Get All Organizations V1
      tags:
      - Entity Management V1
      description: '<p><strong>Note:</strong> Please use the V2 API for fetching data, as the V1 API is restricted to returning
        only a limited number of responses. The V2 API does not have this limitation and provides more efficient data retrieval.</p>

        <p>To filter organizations by custom fields</p>

        <p><code>/organizations?{custom_field_name}={value}</code></p>

        <p>Example</p>

        <p><code>/organizations?zapier=true</code></p>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - organizationId: 4
                  imageId: cd9467ce-aa16-4c5c-a9e3-81dd96131886.jpg
                  about: null
                  externalId: null
                  lastTouch: '2022-03-15T04:59:59.431Z'
                  lifecycleStageId: 1
                  churned: 0
                  entityArchived: 1
                  pulse: 5
                  globalFields:
                    name: Optimum Nutrition
                  created: '2021-11-17T04:30:21.698Z'
                  modified: '2022-06-08T00:10:16.022Z'
                  createdBy: 1
                  modifiedBy: 1
                  contacts:
                  - 34
                  - 36
                  - 37
                  - 52
                  - 54
                  health: 7.3
                  healthStatus: Green
                  properties:
                    name: Optimum Nutrition
                    total_saas_mrr:
                      value: 1110
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 2220
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 333
                      currencyDefinitionId: 5
                  owners:
                  - id: 13
                    ownerType: primary
                - organizationId: 5
                  imageId: d66afdba-9285-434f-8762-483593b72b14.jpg
                  about: null
                  externalId: d0c90641-5df6-43ad-b91d-44aeae90d359
                  lastTouch: '2022-09-07T14:42:25.000Z'
                  lifecycleStageId: 2
                  churned: 0
                  entityArchived: 0
                  pulse: null
                  globalFields:
                    name: Crossrope
                  created: '2021-11-17T04:30:30.170Z'
                  modified: '2022-07-10T07:53:20.829Z'
                  createdBy: 1
                  modifiedBy: 9
                  contacts:
                  - 38
                  - 39
                  - 40
                  health: 7
                  healthStatus: Green
                  properties:
                    name: Crossrope
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    multiop: []
                    testusertype: 14
                    multi: []
                  owners:
                  - id: 115
                    ownerType: primary
                  - id: 10
                    ownerType: secondary
                  - id: 30
                    ownerType: tertiary
    post:
      operationId: createOrganization
      summary: Create Organization
      tags:
      - Entity Management V1
      description: '<p>Create New Organization.</p>

        <h5 id="request-body-guide">Request body guide</h5>

        <div class="click-to-expand-wrapper is-table-wrapper"><table>

        <thead>

        <tr>

        <th><strong>Field</strong></th>

        <th><strong>Description</strong></th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>externalId</td>

        <td>Use <code>externalId</code> to add the external id of the organization.</td>

        </tr>

        <tr>

        <td>properties</td>

        <td>Use <code>properties</code> to add all the custom fields.</td>

        </tr>

        <tr>

        <td>contacts</td>

        <td>Use <code>contacts</code> to link contacts to an organization. Only accepts emails. Link existing contacts. Otherwise
        creates a contact with the given email and link it.</td>

        </tr>

        <tr>

        <td>owners</td>

        <td>User <code>owners</code> to add organization owners. Accepts object array with user id and the owner type.</td>

        </tr>

        <tr>

        <td>links</td>

        <td>Use <code>links</code> to link custom objects with organizations.</td>

        </tr>

        </tbody>

        </table>

        </div><h5 id="account-linking">Account Linking</h5>

        <p><strong>Cannot link accounts</strong> to an organization when <strong>creating</strong> an organization. There
        is a separate API (<strong>Change Parent Entity</strong>) in the Account section to assign accounts to an organization.</p>

        '
      requestBody:
        content:
          application/json:
            example:
              properties:
                name: Optimum Nutritions
                date_joined: '2021-12-13'
                deal_stage: closed won
              contacts:
              - joe.root@velaris.io
              owners:
              - id: 12
                ownerType: primary
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  organizationId: 309
                  date_joined: '2021-12-13'
                  deal_stage: 2
                  health:
                    score: 6.4
                    ragStatus: Green
                  contacts:
                  - 21
                  properties:
                    name: Optimum Nutritions
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    - 2342
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
  /core/organizations/:organizationId:
    get:
      operationId: getOrganizationsById
      summary: Get Organizations By ID
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/organizations/extid-id</code></li>

        <li>With internal id: <code>/organizations/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  organizationId: 5
                  imageId: e1841040ed95fac5c803dd8af03470ff32fe956f/organizations/d66afdba-9285-434f-8762-483593b72b14.jpg
                  about: null
                  externalId: d0c90641-5df6-43ad-b91d-44aeae90d359
                  lastTouch: '2022-09-07T14:42:25.000Z'
                  lifecycleStageId: 2
                  churned: 0
                  entityArchived: 0
                  pulse: null
                  globalFields:
                    name: Crossrope
                  created: '2021-11-17T04:30:30.170Z'
                  modified: '2022-07-10T07:53:20.829Z'
                  createdBy: 1
                  modifiedBy: 9
                  contacts:
                  - 38
                  - 39
                  - 40
                  - 41
                  pipelines: []
                  accounts: []
                  health: 7
                  healthStatus: Green
                  properties:
                    name: Crossrope
                    total_saas_mrr:
                      value: 1000
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 2000
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    multiop: []
                    testusertype: 14
                    multi: []
                  owners:
                  - id: 115
                    ownerType: primary
                  - id: 10
                    ownerType: secondary
                  - id: 30
                    ownerType: tertiary
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
    put:
      operationId: updateOrganization
      summary: Update Organization
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li><p>With external id: <code>/oganizations/extid-id</code></p>

        </li>

        <li><p>With internal id: <code>/organizations/srcid-id</code></p>

        </li>

        </ul>

        <h5 id="reqeust-body-guide">Reqeust body guide</h5>

        <p>Follow the organization create guide.</p>

        <p><strong>Archived Organizations</strong> cannot be updated.</p>

        <h5 id="account-linking">Account Linking</h5>

        <p><strong>Cannot link accounts</strong> to organization when <strong>updating</strong> organization. There is seperate
        API (<strong>Change Parent Entity</strong>) to in Account section to assign accounts to an organization.</p>

        '
      requestBody:
        content:
          application/json:
            example:
              properties:
                name: Crossrope Huston
              externalId: 56dbf464-3f31-48c3-bd77-0a29e46dc124
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  externalId: 56dbf464-3f31-48c3-bd77-0a29e46dc124
                  health:
                    score: 0
                    ragStatus: Red
                  properties:
                    name: Crossrope NewYork
                  links:
                    custom_link_relation3:
                    - 57
  /core/organizations/:organizationId/churn-status:
    put:
      operationId: churnOrganization
      summary: Churn organization
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/organizations/extid-id/churn-status</code></li>

        <li>With internal id: <code>/organizations/srcid-id/churn-status</code></li>

        </ul>

        '
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/organizations/:organizationId/archive:
    put:
      operationId: archiveOrganization
      summary: Archive Organization
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id:<code>/organizations/extid-id/archive</code></li>

        <li>With internal id: <code>/organizations/srcid-id/archive</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/organizations/:organizationId/restore:
    put:
      operationId: restoreOrganization
      summary: Restore Organization
      tags:
      - Entity Management V1
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/accounts:
    get:
      operationId: getAllAccountsV1
      summary: Get All Accounts V1
      tags:
      - Entity Management V1
      description: '<p><strong>Note:</strong> Please use the V2 API for fetching data, as the V1 API is restricted to returning
        only a limited number of responses. The V2 API does not have this limitation and provides more efficient data retrieval.</p>

        <p>To filter accounts by custom fields</p>

        <p><code>/accounts?{custom_field_name}={value}</code></p>

        <p>Example</p>

        <p><code>/accounts?zapier=true</code></p>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - accountId: 1
                  imageId: 4ee7e7aa-9e36-483f-841b-977f365ca489.jpg
                  externalId: rakuten-ext-id
                  lifecycleStageId: 9
                  about: rakuten-ext-id
                  lastTouch: '2022-06-22T14:38:00.157Z'
                  churned: 0
                  entityArchived: 0
                  organization: null
                  pulse: null
                  globalFields:
                    name: Rakuten
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2021-11-08T05:04:28.085Z'
                  modified: '2022-06-22T14:38:00.300Z'
                  createdBy: 1
                  modifiedBy: 1
                  organizations: []
                  contacts:
                  - 28
                  - 34
                  - 36
                  - 162
                  health: 5.3
                  healthStatus: Amber
                  properties:
                    name: Rakuten
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    numc: 0
                    numd: 0
                    sample_picklist: []
                  owners:
                  - id: 2
                    ownerType: primary
                - accountId: 3
                  imageId: 18a18fec-4e9a-4d45-842a-be2ec872911f.jpg
                  externalId: bad_monkey
                  lifecycleStageId: 9
                  about: ''
                  lastTouch: '2022-06-09T07:49:02.257Z'
                  churned: 0
                  entityArchived: 0
                  organization: null
                  pulse: 5
                  globalFields:
                    name: Bad Monkey
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2021-11-30T06:33:52.839Z'
                  modified: '2022-06-09T07:49:02.363Z'
                  createdBy: 1
                  modifiedBy: 1
                  organizations: []
                  contacts:
                  - 27
                  - 38
                  - 39
                  health: 10
                  healthStatus: Green
                  properties:
                    name: Bad Monkey
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    numa: 250
                    numb: 100
                    numc: 350
                    numd: 350
                    sample_picklist: []
                  owners:
                  - id: 2
                    ownerType: primary
                  - id: 30
                    ownerType: secondary
                  - id: 6
                    ownerType: tertiary
    post:
      operationId: createAccount
      summary: Create Account
      tags:
      - Entity Management V1
      description: '<p>Create New Account.</p>

        <h5 id="request-body-guide">Request body guide</h5>

        <div class="click-to-expand-wrapper is-table-wrapper"><table>

        <thead>

        <tr>

        <th><strong>Field</strong></th>

        <th><strong>Description</strong></th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>externalId</td>

        <td>Use <code>externalId</code> to add the external id of the organization.</td>

        </tr>

        <tr>

        <td>organizationExternalId</td>

        <td>Use <code>organizationExternalId</code> to link an organization to the current account.</td>

        </tr>

        <tr>

        <td>properties</td>

        <td>Use <code>properties</code> to add all the custom fields.</td>

        </tr>

        <tr>

        <td>contacts</td>

        <td>Use <code>contacts</code> to link contacts to an organization. Only accepts emails. Link existing contacts. Otherwise
        creates a contact with the given email and link it.</td>

        </tr>

        <tr>

        <td>owners</td>

        <td>User <code>owners</code> to add organization owners. Accepts object array with user id and the owner type</td>

        </tr>

        <tr>

        <td>links</td>

        <td>Use <code>links</code> to link custom objects with accounts.</td>

        </tr>

        </tbody>

        </table>

        </div>'
      requestBody:
        content:
          application/json:
            example:
              organizationExternalId: d0c90641-5df6-43ad-b91d-44aeae90d359
              properties:
                name: Vision Care
              externalId: jdi623-45s234-cv234-df23-ht223
              contacts:
              - joe.root@velaris.io
              about: Opticians
              links:
                custom_link_relation12:
                  identifier_key: ext_id
                  ids:
                  - custom_object_instance_1
                  - custom_object_instance_2
                  - custom_object_instance_3
                custom_link_relation13:
                  identifier_key: int_id
                  ids:
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  contacts:
                  - sample.contact@somedomain.com
                  health:
                    score: 6.2
                    ragStatus: Green
                  properties:
                    name: Vision Care
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    - 2342
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
  /core/accounts/:accountId:
    get:
      operationId: getAccountById
      summary: Get Account By ID
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/accounts/extid-id</code></li>

        <li>With internal id: <code>/accounts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: Get Account By ID
          content:
            application/json:
              example:
                data:
                  accountId: 1
                  imageId: 4ee7e7aa-9e36-483f-841b-977f365ca489.jpg
                  externalId: rakuten-ext-id
                  lifecycleStageId: 9
                  about: rakuten-ext-id
                  lastTouch: '2022-06-22T14:38:00.157Z'
                  churned: 0
                  entityArchived: 0
                  organization: null
                  pulse: null
                  globalFields:
                    name: Rakuten
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2021-11-08T05:04:28.085Z'
                  modified: '2022-06-22T14:38:00.300Z'
                  createdBy: 1
                  modifiedBy: 1
                  organizations: []
                  contacts:
                  - 28
                  - 34
                  - 36
                  - 162
                  health: 5.3
                  healthStatus: Amber
                  properties:
                    name: Rakuten
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    numc: 0
                    numd: 0
                    sample_picklist: []
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                  owners:
                  - id: 2
                    ownerType: primary
    put:
      operationId: updateAccount
      summary: Update Account
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/accounts/extid-id</code></li>

        <li>With internal id: <code>/accounts/srcid-id</code></li>

        </ul>

        '
      requestBody:
        content:
          application/json:
            example:
              properties:
                name: Vision Care London
                date_joined: '2022-01-31'
              about: Leading Sunglass provider
              contacts:
              - trent.boult@velaris.io
              - tim.southee@velaris.io
              links:
                custom_link_relation1:
                  identifier_key: ext_id
                  ids:
                  - custom_object_instance_11
                  - custom_object_instance_21
                custom_link_relation2:
                  identifier_key: int_id
                  ids:
                  - 6
                  - 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  about: Leading Sunglass provider
                  contacts:
                  - 21
                  - 47
                  - 48
                  health:
                    score: 6.2
                    ragStatus: Green
                  properties:
                    name: Vision Care London
                    date_joined: '2022-01-31'
                  links:
                    custom_link_relation1:
                    - 57
                    - 53
  /core/accounts/:accountId/churn-status:
    put:
      operationId: churnAccount
      summary: Churn Account
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/accounts/extid-id</code></li>

        <li>With internal id: <code>/accounts/srcid-id</code></li>

        </ul>

        '
      requestBody:
        content:
          application/json: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/accounts/:accountId/archive:
    put:
      operationId: archiveAccount
      summary: Archive Account
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/accounts/extid-id</code></li>

        <li>With internal id: <code>/accounts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/accounts/:organizationId/restore:
    put:
      operationId: restoreAccount
      summary: Restore Account
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/accounts/extid-id</code></li>

        <li>With internal id: <code>/accounts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/accounts/:accountId/parent-entity:
    put:
      operationId: changeParentEntity
      summary: Change Parent Entity
      tags:
      - Entity Management V1
      description: '<p>Change or assign parent organization.</p>

        '
      requestBody:
        content:
          application/json:
            example:
              organizationId: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/contacts:
    get:
      operationId: getAllContactsV1
      summary: Get All Contacts V1
      tags:
      - Entity Management V1
      description: '<p><strong>Note:</strong> Please use the V2 API for fetching data, as the V1 API is restricted to returning
        only a limited number of responses. The V2 API does not have this limitation and provides more efficient data retrieval.</p>

        <p>To filter contacts by custom fields</p>

        <p><code>/contacts?{custom_field_name}={value}</code></p>

        <p>Example</p>

        <p><code>/contacts?zapier=true</code></p>

        '
      responses:
        '200':
          description: OK
    post:
      operationId: createContacts
      summary: Create Contacts
      tags:
      - Entity Management V1
      description: '<p>Create new contact</p>

        <p>Create New Organiztion.</p>

        <h5 id="request-body-guide">Request body guide</h5>

        <div class="click-to-expand-wrapper is-table-wrapper"><table>

        <thead>

        <tr>

        <th><strong>Field</strong></th>

        <th><strong>Description</strong></th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>externalId</td>

        <td>Use <code>externalId</code> to add external id of the contact</td>

        </tr>

        <tr>

        <td>email</td>

        <td>Use <code>email</code> to add email id of the contact</td>

        </tr>

        <tr>

        <td>properties</td>

        <td>Use <code>properties</code> to add all the custom fields.</td>

        </tr>

        <tr>

        <td>organizationIds</td>

        <td>Use <code>organizationIds</code> to link contacts to an organization. Accepts Velaris internal Id. User either
        <code>organizationIds</code> or <code>organizationExternalIds</code> Example: [1, 2]</td>

        </tr>

        <tr>

        <td>organizationExternalIds</td>

        <td>Use <code>organizationExternalIds</code> to link contacts to an organization. Accepts external Id of the organization.
        User either <code>organizationIds</code> or <code>organizationExternalIds</code> Example: <code>["ajislk-1asdas-1231fg",
        "tcsd-gogk-asdm"]</code></td>

        </tr>

        <tr>

        <td>accountIds</td>

        <td>Use <code>accountIds</code> to link contacts to an acount. Accepts Velaris internal Id. User either <code>accountIds</code>
        or <code>accountExternalIds</code> Example: [1, 2]</td>

        </tr>

        <tr>

        <td>accountExternalIds</td>

        <td>Use <code>accountExternalIds</code> to link contacts to an acount. Accepts external Id of the account. User either
        <code>accountIds</code> or <code>accountExternalIds</code> Example: <code>["ajislk-1asdas-1231fg", "tcsd-gogk-asdm"]</code></td>

        </tr>

        <tr>

        <td>links</td>

        <td>Use <code>links</code> to link custom objects with contacts.</td>

        </tr>

        </tbody>

        </table>

        </div>'
      requestBody:
        content:
          application/json:
            example:
              email: mattDamen@gmail.com
              externalId: 32fd45-22fr4-yh23g-fg34-b5h6j34gd
              about: This is a test contact
              organizationIds:
              - 6
              - 7
              accountIds:
              - 1
              - 2
              properties:
                name: Matt Damen
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  contactId: 261
                  name: Matt Damen
                  email: mattDamen@gmail.com
                  accounts:
                  - 1
                  - 2
                  organizations:
                  - 6
                  - 7
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                  properties: {}
  /core/contacts/:contactId:
    get:
      operationId: getContactsById
      summary: Get Contacts By Id
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/contacts/extid-id</code></li>

        <li>With internal id: <code>/contacts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  globalFields:
                    name: Joe Root
                    date_joined: '2022-07-08'
                  pulse: 3
                  lifecycleStageId: 44
                  imageId: null
                  about: null
                  lastTouch: '2022-07-07T09:51:14.000Z'
                  externalId: null
                  entityArchived: 0
                  contactId: 1
                  created: '2021-11-17T07:48:34.649Z'
                  modified: '2022-07-10T07:37:26.463Z'
                  createdBy: 1
                  modifiedBy: 1
                  email: joe.root@gmail.com
                  accounts:
                  - 2
                  organizations:
                  - 30
                  - 38
                  - 118
                  pipelines:
                  - 2
                  properties:
                    name: Joe Root
                    contact_number: +1-617-755-2327
                    date_joined: '2022-07-08'
                    contact_owner: 74
                    job_title: Tester
                    contact_multipicklist: []
                  links:
                    custom_link_relation1:
                    - 564
                    - 3453
                    custom_link_relation2:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
    put:
      operationId: updateContact
      summary: Update Contact
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/contacts/extid-id</code></li>

        <li>With internal id: <code>/contacts/srcid-id</code></li>

        </ul>

        '
      requestBody:
        content:
          application/json:
            example:
              about: This is an updated contact
              properties:
                name: Joe Root
              links:
                custom_link_relation1:
                  identifier_key: ext_id
                  ids:
                  - custom_object_instance_54
                  - custom_object_instance_345
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  about: This is an updated contact
                  health:
                    score: 0
                    ragStatus: Red
                  properties:
                    name: Joe Root
                  links:
                    custom_link_relation1:
                    - 54
                    - 345
  /core/contacts/:contactId/archive:
    put:
      operationId: archiveContact
      summary: Archive Contact
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/contacts/extid-id</code></li>

        <li>With internal id: <code>/contacts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/contacts/:contactId/restore:
    put:
      operationId: restoreContact
      summary: Restore Contact
      tags:
      - Entity Management V1
      description: '<p>Example:</p>

        <ul>

        <li>With external id: <code>/contacts/extid-id</code></li>

        <li>With internal id: <code>/contacts/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/opportunities:
    get:
      operationId: getAllOpportunitiesV1
      summary: Get All Opportunities V1
      tags:
      - Entity Management V1
      description: '<p><strong>Note:</strong> Please use the V2 API for fetching data, as the V1 API is restricted to returning
        only a limited number of responses. The V2 API does not have this limitation and provides more efficient data retrieval.</p>

        <p>To filter opportunities by custom fields</p>

        <p><code>/opportunities?{custom_field_name}={value}</code></p>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - pipelineId: 1
                  externalId: null
                  entityArchived: 0
                  data:
                    title: Package upgrade to Silver
                    saas_mrr:
                      currencyDefinitionId: 5
                      value: 2500
                    total_mrr:
                      value: 2500
                      currencyDefinitionId: 5
                  pipelineType: 1
                  pipelineStatus: 2
                  pulse: null
                  globalFields:
                    name: Package upgrade to Silver
                    mrr:
                      value: 2500
                      currencyDefinitionId: 5
                  created: '2021-12-02T02:53:11.469Z'
                  modified: '2022-06-08T00:09:59.937Z'
                  createdBy: 1
                  modifiedBy: 1
                  organization:
                    id: 1
                    name: Successfully 10
                  contacts: []
                - pipelineId: 2
                  externalId: 56dbf464-3f31-48c3-bd77-0a29e46dc124
                  entityArchived: 0
                  data:
                    title: 'Package Upgrade: Watford FC'
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                  pipelineType: 1
                  pipelineStatus: 3
                  pulse: null
                  globalFields:
                    name: 'Package Upgrade: Watford FC'
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2021-12-10T13:34:10.995Z'
                  modified: '2022-06-08T00:09:59.877Z'
                  createdBy: 1
                  modifiedBy: 1
                  organization:
                    id: 3
                    name: Successfully 10
                  contacts:
                  - 1
    post:
      operationId: createOpportunity
      summary: Create Opportunity
      tags:
      - Entity Management V1
      description: "<ul>\n<li><p>parentEntity types - organization, account</p>\n</li>\n<li><p>parent entity id or external\
        \ id can be used</p>\n</li>\n</ul>\n<pre class=\"click-to-expand-wrapper is-snippet-wrapper\"><code>\"parentEntity\"\
        : {\n  \"type\": \"account\",\n  \"externalId\": \"account-external-id\"\n}\n\n</code></pre><ul>\n<li><p>contact email\
        \ addresses should be provided. if a contact does not exist with the given email, new contact will be created.</p>\n\
        </li>\n<li><p>links: Use <code>links</code> to link custom objects with opportunities.</p>\n</li>\n</ul>\n"
      requestBody:
        content:
          application/json:
            example:
              contacts:
              - joe.root@gmail.com
              externalId: 46jiyt-64jhgi-52gew-26aw-987amlk
              status: 1
              parentEntity:
                type: organization
                id: 6
              properties:
                title: Sales Pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  _pipelineName: Sales Pipeline
                  pipelineId: 235
                  pipelineType: 1
                  pipelineStatus: 1
                  title: Sales Pipeline
                  contacts:
                  - 86
                  organization:
                    organizationId: 6
                    name: LIGA MX-2
                  links:
                    custom_link_relation1:
                    - 43
                    custom_link_relation2:
                    - 764
                    - 345
  /core/opportunities/:pipelineId:
    get:
      operationId: getOpportunitiesById
      summary: Get Opportunities By Id
      tags:
      - Entity Management V1
      description: '<p>Example</p>

        <ul>

        <li>With external id: <code>/opportunities/extid-id</code></li>

        <li>With internal id: <code>/opportunities/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  pipelineId: 1
                  externalId: 48efw78-46de-19wr-bd77-0a29e46dc
                  entityArchived: 0
                  data:
                    title: Package upgrade to Silver
                    saas_mrr:
                      currencyDefinitionId: 5
                      value: 2500
                    total_mrr:
                      value: 2500
                      currencyDefinitionId: 5
                    original_source_type: []
                  pipelineType: 1
                  pipelineStatus: 2
                  pulse: null
                  globalFields:
                    name: Package upgrade to Silver
                    mrr:
                      value: 2500
                      currencyDefinitionId: 5
                  created: '2021-12-02T02:53:11.469Z'
                  modified: '2022-07-25T11:14:31.539Z'
                  createdBy: 1
                  modifiedBy: 30
                  organization:
                    id: 1
                    name: Successfully 10
                  contacts: []
                  links:
                    custom_link_relation1:
                    - 456
                    custom_link_relation2:
                    - 764
                    - 345
  /core/opportunities/:opportunityId:
    put:
      operationId: updateOpportunity
      summary: Update Opportunity
      tags:
      - Entity Management V1
      description: '<ul>

        <li><p>With external id: <code>/opportunities/extid-id</code></p>

        </li>

        <li><p>With internal id: <code>/opportunities/srcid-id</code></p>

        </li>

        <li><p>parent entity cannot be changed after creation.</p>

        </li>

        <li><p>contact email addresses should be provided. if a contact does not exist with the given email, new contact will
        be created.</p>

        </li>

        </ul>

        '
      requestBody:
        content:
          application/json:
            example:
              contacts:
              - joe.root@gmail.com
              status: 2
              properties:
                title: Expansion Pipeline
              links:
                custom_link_relation4:
                  identifier_key: ext_id
                  ids:
                  - custom_object_instance_43
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - contacts:
                  - 86
                  pipelineStatus: 2
                  data:
                    title: Expansion Pipeline
                - - fieldId: 26
                    field: title
                    value: Expansion Pipeline
                    dataType: string
  /core/opportunities/:id/archive:
    put:
      operationId: archiveOpportunity
      summary: Archive Opportunity
      tags:
      - Entity Management V1
      description: '<p>Example</p>

        <ul>

        <li>With external id: <code>/opportunities/extid-id</code></li>

        <li>With internal id: <code>/opportunities/srcid-id</code></li>

        </ul>

        '
      responses:
        '204':
          description: No Content
  /core/opportunities/:opportunityId/restore:
    put:
      operationId: restoreOpportunity
      summary: Restore Opportunity
      tags:
      - Entity Management V1
      description: '<p>Example</p>

        <ul>

        <li>With external id: <code>/opportunities/extid-id</code></li>

        <li>With internal id: <code>/opportunities/srcid-id</code></li>

        </ul>

        '
      responses:
        '204':
          description: No Content
  /core/risks:
    get:
      operationId: getAllRisksV1
      summary: Get All Risks V1
      tags:
      - Entity Management V1
      description: '<p><strong>Note:</strong> Please use the V2 API for fetching data, as the V1 API is restricted to returning
        only a limited number of responses. The V2 API does not have this limitation and provides more efficient data retrieval.</p>

        <p>To filter risks by custom fields</p>

        <p><code>/risks?{custom_field_name}={value}</code></p>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - pipelineId: 69
                  externalId: 123123-dsads-34542323344
                  entityArchived: 0
                  data:
                    title: Test Pipeline Title
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                  pipelineType: 2
                  pipelineStatus: 5
                  pulse: null
                  globalFields:
                    name: Test Pipeline Title
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2022-06-08T05:41:05.169Z'
                  modified: '2022-06-08T05:47:50.924Z'
                  createdBy: 12
                  modifiedBy: 12
                  account:
                    id: 9
                    name: Amy's Account
                  contacts:
                  - 81
                  - 86
    post:
      operationId: createRisk
      summary: Create Risk
      tags:
      - Entity Management V1
      description: "<ul>\n<li><p>parentEntity types - organization, account</p>\n</li>\n<li><p>parent entity id or external\
        \ id can be used</p>\n</li>\n</ul>\n<pre class=\"click-to-expand-wrapper is-snippet-wrapper\"><code>\"parentEntity\"\
        : {\n  \"type\": \"account\",\n  \"externalId\": \"account-external-id\"\n}\n\n</code></pre><ul>\n<li><p>contact email\
        \ addresses should be provided. if a contact does not exist with the given email, new contact will be created.</p>\n\
        </li>\n<li><p>links: Use <code>links</code> to link custom objects with risks.</p>\n</li>\n</ul>\n"
      requestBody:
        content:
          application/json:
            example:
              contacts:
              - joe.root@gmail.com
              externalId: 446ew3-sf45wy-34sdg23
              status: 4
              parentEntity:
                type: account
                id: 7
              properties:
                title: Risk Pipeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  _pipelineName: Test Risk Pipeline
                  pipelineId: 236
                  pipelineType: 2
                  pipelineStatus: 4
                  title: Test Risk Pipeline
                  contacts:
                  - 86
                  account:
                    accountId: 7
                    name: Amy's Account
                  links:
                    custom_link_relation1:
                    - 47
                    custom_link_relation2:
                    - 465
                    - 344
  /core/risks/:riskId:
    get:
      operationId: getRiskById
      summary: Get Risk By Id
      tags:
      - Entity Management V1
      description: '<p>Example</p>

        <ul>

        <li>With external id: <code>/risks/extid-id</code></li>

        <li>With internal id: <code>/risks/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  pipelineId: 69
                  externalId: 123123-dsads-34542323344
                  entityArchived: 0
                  data:
                    title: Test Pipeline Title
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                  pipelineType: 2
                  pipelineStatus: 5
                  pulse: null
                  globalFields:
                    name: Test Pipeline Title
                    mrr:
                      value: 0
                      currencyDefinitionId: 5
                  created: '2022-06-08T05:41:05.169Z'
                  modified: '2022-06-08T05:47:50.924Z'
                  createdBy: 12
                  modifiedBy: 12
                  account:
                    id: 9
                    name: Amy's Account
                  contacts:
                  - 81
                  - 86
                  links:
                    custom_link_relation1:
                    - 54
                    custom_link_relation2:
                    - 35
                    - 24
    put:
      operationId: updateRisk
      summary: Update Risk
      tags:
      - Entity Management V1
      description: '<ul>

        <li>With external id:<code>/risks/extid-id</code></li>

        <li>With internal id: <code>/risks/srcid-id</code></li>

        <li>parent entity cannot be changed after creation.</li>

        <li>contact email addresses should be provided. if a contact does not exist with the given email, new contact will
        be created.</li>

        </ul>

        '
      requestBody:
        content:
          application/json:
            example:
              contacts:
              - joe.root@gmail.com
              status: 5
              properties:
                title: Pipeline Title v2
              links:
                custom_link_relation5:
                  identifier_key: ext_id
                  ids:
                  - custom_object_instance_453
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - contacts:
                  - 86
                  - 81
                  pipelineStatus: 5
                  data:
                    title: Test Pipeline Title Updated
                - - fieldId: 26
                    field: title
                    value: Test Pipeline Title Updated
                    dataType: string
  /core/risks/:riskId/archive:
    put:
      operationId: archiveRisk
      summary: Archive Risk
      tags:
      - Entity Management V1
      description: '<ul>

        <li>With external id:<code>/risks/extid-id</code></li>

        <li>With internal id: <code>/risks/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /core/risks/:riskId/restore:
    put:
      operationId: restoreRisks
      summary: Restore Risks
      tags:
      - Entity Management V1
      description: '<ul>

        <li>With external id:<code>/risks/extid-id</code></li>

        <li>With internal id: <code>/risks/srcid-id</code></li>

        </ul>

        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: {}
  /v2/organizations:
    get:
      operationId: getAllOrganizations
      summary: Get All Organizations
      tags:
      - Entity Management V2
      description: '<p>Supported query params</p>

        <div class="click-to-expand-wrapper is-table-wrapper"><table>

        <thead>

        <tr>

        <th>Parameter</th>

        <th>Type</th>

        <th>Description</th>

        <th>Default</th>

        <th>Max Value</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>after</td>

        <td>integer</td>

        <td>Use an integer to specify the starting point for pagination.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>limit</td>

        <td>integer</td>

        <td>The number of records to return. Default is 10, and the maximum is 100.</td>

        <td>10</td>

        <td>100</td>

        </tr>

        <tr>

        <td>fields</td>

        <td>string</td>

        <td>Comma-separated field names to specify the fields to be included in the response. If both <code>fields</code>
        and <code>fieldIds</code> are provided, <code>fieldIds</code> takes priority.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>fieldIds</td>

        <td>string</td>

        <td>Comma-separated field IDs to specify the fields to be included in the response.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>archived</td>

        <td>boolean</td>

        <td>Use <code>true</code> or <code>false</code> to filter the results based on their archived status.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>churned</td>

        <td>boolean</td>

        <td>Use <code>true</code> or <code>false</code> to filter the results based on their churned status.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>externalId</td>

        <td>string</td>

        <td>Use a string to filter results based on the external ID.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>ownerId</td>

        <td>integer</td>

        <td>Use an integer to filter results based on the owner ID.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        <tr>

        <td>lifecycleStageId</td>

        <td>integer</td>

        <td>Use an integer to filter results based on the lifecycle stage ID.</td>

        <td>N/A</td>

        <td>N/A</td>

        </tr>

        </tbody>

        </table>

        </div>'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                - organizationId: 1
                  imageId: null
                  about: null
                  externalId: 643e127855ecdeef8cd22b91-qualification-company
                  lifecycleStageId: 4
                  churned: 0
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 4
                  globalFields:
                    name: Browsedrive
                    arr:
                      value: 1900
                      currencyDefinitionId: 5
                    renewal_date: '2024-04-24'
                    date_joined: '2024-04-18'
                  created: '2021-12-06T18:19:23.622Z'
                  modified: '2024-06-07T08:25:38.009Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts:
                  - 640
                  contacts: []
                  properties:
                    name: Browsedrive
                    address: Test1
                    date_joined: '2024-04-18'
                    renewal_date: '2024-04-24'
                    starting_saas_mrr:
                      currencyDefinitionId: 2
                      value: 2450
                    expansion_saas_mrr:
                      value: 3000
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 4633.333333333333
                      currencyDefinitionId: 5
                    starting_service_mrr:
                      currencyDefinitionId: 5
                      value: 2500
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 2500
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 7133.333333333333
                      currencyDefinitionId: 5
                    country: 6
                    csm: 18
                    license_count: 3
                    license_used: 20
                    software_mrr:
                      value: 12000
                      currencyDefinitionId: 5
                    wau: 1000
                    mau: 40
                    active_channels: 8
                    weekly_new_users: 24
                    monthly_new_users: 1
                    nps: -100
                    csat: 1
                    qbr_date: '2022-11-08'
                    strategic_customer: true
                    tier: 15
                    support_tier: 20
                    pricing_tier: 482
                    integrations: 3
                    nps_scored: '2021-09-25'
                    mrr:
                      value: 7133.333333333333
                      currencyDefinitionId: 5
                    mrr_2:
                      currencyDefinitionId: 5
                      value: 10000000
                    h_multi:
                    - 75
                    - 72
                    h_user: 267
                    h_single: 290
                    h_currency:
                      currencyDefinitionId: 5
                      value: 23
                    h_tf: false
                    h_con: 1652
                    h_multi_org:
                    - 290
                    true_false_attribute79: false
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 3000
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 0
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 0
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    currency_ab:
                      currencyDefinitionId: 5
                      value: 100
                    currency_attribute79:
                      currencyDefinitionId: 5
                      value: 1500
                    release_10_date: '2024-01-30'
                    release_10_numeric: 45.75
                    unique_text_attribute: abc12
                    unique_numeric_attribute: 1
                    ddd: 0
                    hii: 1045.75
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    qa: false
                    acc: 1315
                    arr:
                      value: 1900
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 1080.75
                    h_dynamic_multipick:
                    - 330
                    - 333
                    f123: 6457
                    seg_fix: 25
                    unique_text: abc123333
                    h__org: 253
                    newcalc41:
                      value: 100
                      currencyDefinitionId: 5
                    newhcal43:
                      value: 200
                      currencyDefinitionId: 5
                    cur12:
                      currencyDefinitionId: 5
                      value: 100
                    newvcal43: 0
                    neadvcalc43:
                      value: 10
                      currencyDefinitionId: 5
                    shayne_mrr:
                      value: 10017000
                      currencyDefinitionId: 5
                    zendesk_id: 8384099409169
                  owners:
                  - id: 6
                    ownerType: secondary
                  - id: 27
                    ownerType: primary
                - organizationId: 2
                  imageId: null
                  about: null
                  externalId: hi
                  lifecycleStageId: 6
                  churned: 0
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 3
                  globalFields:
                    name: Tekfly
                    arr:
                      value: 19000
                      currencyDefinitionId: 5
                    mrr:
                      currencyDefinitionId: 5
                      value: 2
                    renewal_date: '2024-04-19'
                    date_joined: '2018-06-09'
                  created: '2021-12-06T18:19:25.408Z'
                  modified: '2024-06-07T08:26:00.472Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts: []
                  contacts:
                  - 896
                  - 1749
                  properties:
                    name: Tekfly
                    date_joined: '2018-06-09'
                    renewal_date: '2024-04-19'
                    expansion_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 10
                    license_count: 185
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 2
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 4000
                    wau: 51
                    mau: 32
                    active_channels: 35
                    weekly_new_users: 1
                    monthly_new_users: 12
                    nps: 8
                    csat: 6
                    qbr_date: '2022-06-08'
                    strategic_customer: false
                    tier: 19
                    support_tier: 22
                    pricing_tier: 23
                    integrations: 3
                    nps_scored: '2021-09-22'
                    mrr:
                      value: 2
                      currencyDefinitionId: 5
                    mrr_2:
                      currencyDefinitionId: 5
                      value: 10000000
                    h_single: 288
                    h_tf: true
                    h_con: 1656
                    h_multi_org:
                    - 88
                    true_false_attribute79: false
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 0
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 0
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 0
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    currency_ab:
                      currencyDefinitionId: 5
                      value: 1000
                    currency_attribute79:
                      currencyDefinitionId: 5
                      value: 100.89
                    release_10_numeric: 45.75
                    unique_text_attribute: hi
                    unique_numeric_attribute: 123
                    ddd: 0
                    hii: 96.75
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    acc: 915
                    arr:
                      value: 19000
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 317.75
                    f123: 65784
                    seg_fix: 40
                    newcalc41:
                      value: 1000
                      currencyDefinitionId: 5
                    newhcal43:
                      value: 1300
                      currencyDefinitionId: 5
                    cur12:
                      currencyDefinitionId: 5
                      value: 300
                    newvcal43: 0
                    neadvcalc43:
                      value: 30
                      currencyDefinitionId: 5
                    shayne_mrr:
                      value: 10004000
                      currencyDefinitionId: 5
                  owners:
                  - id: 8
                    ownerType: secondary
                  - id: 436
                    ownerType: primary
                - organizationId: 3
                  imageId: 5b311f964e6e1d01f9df4397995efebb1aa684fe/organizations/36424f90-2430-4e39-b25c-7b580c933d58.jpg
                  about: null
                  externalId: 643e127855ecdeef8cd22b90
                  lifecycleStageId: 1
                  churned: 1
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 1
                  globalFields:
                    name: BMW M3
                    arr:
                      value: 3610
                      currencyDefinitionId: 5
                    mrr:
                      currencyDefinitionId: 5
                      value: 100
                    renewal_date: '2027-03-20'
                    date_joined: '2023-06-16'
                  created: '2021-12-06T18:19:27.025Z'
                  modified: '2024-04-11T12:40:28.397Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts:
                  - 35
                  - 69
                  contacts: []
                  churnData:
                    date: '2024-04-02'
                    reason: 10
                  properties:
                    name: BMW M3
                    address: test 283089
                    date_joined: '2023-06-16'
                    renewal_date: '2027-03-20'
                    expansion_saas_mrr:
                      value: 1250
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 1250
                      currencyDefinitionId: 5
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 1250
                      currencyDefinitionId: 5
                    sales_manager: 127
                    country: 3
                    csm: 24
                    license_count: 1024
                    license_used: 16798
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 100
                    software_mrr:
                      value: 2450
                      currencyDefinitionId: 5
                    wau: 23100
                    mau: 22
                    active_channels: 0
                    weekly_new_users: 12
                    monthly_new_users: 19
                    nps: 67
                    csat: 8
                    qbr_date: '2023-05-31'
                    strategic_customer: false
                    tier: 18
                    support_tier: 20
                    pricing_tier: 482
                    integrations: 3
                    nps_scored: '2021-08-31'
                    mrr:
                      value: 1350
                      currencyDefinitionId: 5
                    seg_num: 5453
                    h_multi:
                    - 71
                    - 75
                    - 76
                    - 66
                    - 74
                    - 77
                    h_num: 7768
                    h_user: 267
                    h_currency:
                      currencyDefinitionId: 5
                      value: 1450
                    h_org: 936
                    h_multi_org:
                    - 173
                    h_multi_acc:
                    - 102
                    - 276
                    true_false_attribute79: true
                    multiscenario1:
                    - 643
                    - 359
                    - 391
                    - 215
                    - 173
                    - 205
                    hubspot_id_text: ''
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 1250
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 4000
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 4000
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    currency_ab:
                      currencyDefinitionId: 5
                      value: 190
                    currency_attribute79:
                      currencyDefinitionId: 64
                      value: 100000
                    project_manager: 446
                    release_10_date: '2023-12-29'
                    ro1: 209
                    ro2:
                    - 235
                    - 234
                    - 233
                    unique_text_attribute: abc1
                    unique_numeric_attribute: 12
                    ddd: 0
                    hii: 23100
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    acc: 335960
                    arr:
                      value: 3610
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 31904
                    f123: 100932
                    newcalc41:
                      value: 190
                      currencyDefinitionId: 5
                  owners:
                  - id: 234
                    ownerType: secondary
                  - id: 452
                    ownerType: primary
                - organizationId: 4
                  imageId: 5b311f964e6e1d01f9df4397995efebb1aa684fe/organizations/05e333f0-8de8-473f-9632-52dcaeab2368.jpg
                  about: This is My about. 👀
                  externalId: '12312358907'
                  lifecycleStageId: 4
                  churned: 0
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 4
                  globalFields:
                    name: Zoomcast + update
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    mrr:
                      currencyDefinitionId: 5
                      value: 100
                    renewal_date: '2027-03-20'
                  created: '2021-12-06T18:19:28.674Z'
                  modified: '2024-06-07T08:25:09.555Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts:
                  - 169
                  contacts:
                  - 504
                  - 1175
                  - 1408
                  - 6
                  properties:
                    '126': 100
                    name: Zoomcast + update
                    address: Test
                    renewal_date: '2027-03-20'
                    expansion_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    sales_manager: 34
                    country: 2
                    csm: 462
                    license_count: 3
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 100
                    software_mrr:
                      value: 7266.67
                      currencyDefinitionId: 5
                    wau: 23100
                    mau: 14
                    active_channels: 60
                    weekly_new_users: 24
                    monthly_new_users: 7
                    nps: -100
                    csat: 8
                    qbr_date: '2022-05-20'
                    strategic_customer: true
                    tier: 18
                    support_tier: 20
                    pricing_tier: 482
                    integrations: 2
                    nps_scored: '2021-09-04'
                    mrr:
                      value: 100
                      currencyDefinitionId: 5
                    seg_num: 667
                    mrr_2:
                      currencyDefinitionId: 5
                      value: 10000000
                    h_num: 7768
                    h_user: 267
                    h_single: 79
                    h_currency:
                      currencyDefinitionId: 5
                      value: 20
                    h_acc: 35
                    h_multi_org:
                    - 264
                    h_multi_acc:
                    - 288
                    - 410
                    true_false_attribute79: false
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 0
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 0
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 0
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    single_option_test: 201
                    user_attribute79: 6
                    currency_attribute79:
                      value: 100
                      currencyDefinitionId: 5
                    user_attribute79o: 470
                    project_manager: 447
                    release_10_user: 27
                    release_10_numeric: 45.75
                    ro1: 209
                    ro2:
                    - 235
                    - 234
                    - 233
                    unique_text_attribute: testing new changes
                    unique_numeric_attribute: 9090
                    ddd: 0
                    hii: 23145.75
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    acc: 915
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 31000.75
                    multi_user:
                    - 464
                    - 451
                    - 456
                    - 370
                    unique_text: gfffd
                    newcalc41:
                      value: 0
                      currencyDefinitionId: 5
                    newhcal43:
                      value: 20.99
                      currencyDefinitionId: 5
                    cur12:
                      currencyDefinitionId: 5
                      value: 20.99
                    newvcal43: 0
                    neadvcalc43:
                      value: 2.0989999999999998
                      currencyDefinitionId: 5
                    shayne_mrr:
                      value: 10007266.67
                      currencyDefinitionId: 5
                  owners:
                  - id: 465
                    ownerType: primary
                - organizationId: 5
                  imageId: null
                  about: null
                  externalId: '5'
                  lifecycleStageId: 6
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Pixoboo
                    mrr:
                      currencyDefinitionId: 5
                      value: 7000
                    renewal_date: '2020-05-25'
                    date_joined: '2018-06-25'
                  created: '2021-12-06T18:19:30.330Z'
                  modified: '2022-06-08T00:43:50.039Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Pixoboo
                    date_joined: '2018-06-25'
                    renewal_date: '2020-05-25'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 3
                    license_count: 28
                    license_used: 23
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 7000
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 9000
                    wau: 16
                    mau: 95
                    active_channels: 37
                    weekly_new_users: 4
                    monthly_new_users: 15
                    nps: 1
                    csat: 2
                    qbr_date: '2022-01-13'
                    strategic_customer: true
                    tier: 18
                    support_tier: 22
                    pricing_tier: 24
                    integrations: 10
                    nps_scored: '2021-10-26'
                    mrr:
                      value: 16000
                      currencyDefinitionId: 5
                  owners: []
                - organizationId: 6
                  imageId: null
                  about: null
                  externalId: '6'
                  lifecycleStageId: 6
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Quire
                    mrr:
                      currencyDefinitionId: 5
                      value: 12000
                    renewal_date: '2019-02-01'
                    date_joined: '2017-10-30'
                  created: '2021-12-06T18:19:31.965Z'
                  modified: '2022-06-08T00:43:23.164Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Quire
                    date_joined: '2017-10-30'
                    renewal_date: '2019-02-01'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 6
                    license_count: 150
                    license_used: 27
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 12000
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 6000
                    wau: 53
                    mau: 91
                    active_channels: 25
                    weekly_new_users: 16
                    monthly_new_users: 7
                    nps: 8
                    csat: 7
                    qbr_date: '2022-02-10'
                    strategic_customer: false
                    tier: 19
                    support_tier: 22
                    pricing_tier: 23
                    integrations: 9
                    nps_scored: '2021-09-19'
                    mrr:
                      value: 18000
                      currencyDefinitionId: 5
                  owners: []
                - organizationId: 7
                  imageId: 5b311f964e6e1d01f9df4397995efebb1aa684fe/organizations/a162dd41-39aa-425d-80b7-ecbbb5812d2f.jpg
                  about: null
                  externalId: '2312312323'
                  lifecycleStageId: 2
                  churned: 0
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 4
                  globalFields:
                    name: Sky
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    mrr:
                      currencyDefinitionId: 64
                      value: 150
                    renewal_date: '2027-03-20'
                    date_joined: '2018-08-28'
                  created: '2021-12-06T18:19:33.587Z'
                  modified: '2024-06-07T08:25:40.051Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts: []
                  contacts: []
                  properties:
                    name: Sky
                    address: test2
                    date_joined: '2018-08-28'
                    renewal_date: '2027-03-20'
                    expansion_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    sales_manager: 27
                    country: 9
                    csm: 462
                    license_count: 140
                    license_used: 10
                    services_mrr:
                      currencyDefinitionId: 64
                      value: 150
                    software_mrr:
                      value: 200
                      currencyDefinitionId: 5
                    wau: 100
                    mau: 97
                    active_channels: 20
                    weekly_new_users: 24
                    monthly_new_users: 20
                    nps: 0
                    csat: 0
                    qbr_date: '2022-11-17'
                    strategic_customer: false
                    tier: 268
                    support_tier: 318
                    pricing_tier: 482
                    integrations: 3
                    nps_scored: '2021-09-19'
                    mrr:
                      value: 75
                      currencyDefinitionId: 5
                    seg_num: 666
                    mrr_2:
                      currencyDefinitionId: 5
                      value: 10000000
                    h_num: 7768
                    h_user: 267
                    h_single: 118
                    h_org: 17
                    h_multi_org:
                    - 173
                    - 465
                    - 205
                    true_false_attribute79: true
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 0
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 0
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 0
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    single_option_test: 201
                    currency_attribute79:
                      currencyDefinitionId: 5
                      value: 100
                    project_manager: 448
                    release_10_numeric: 45.75
                    ro1: 209
                    ro2:
                    - 235
                    - 234
                    - 233
                    unique_text_attribute: hi1
                    unique_numeric_attribute: 10
                    ddd: 0
                    hii: 145.75
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    acc: 1115
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 8097.75
                    multi_user:
                    - 451
                    - 370
                    f123: 98765
                    newcalc41:
                      value: 0
                      currencyDefinitionId: 5
                    newhcal43:
                      value: 0
                      currencyDefinitionId: 5
                    newvcal43: 0
                    neadvcalc43:
                      value: 0
                      currencyDefinitionId: 5
                    shayne_mrr:
                      value: 10000200
                      currencyDefinitionId: 5
                    con:
                    - 1657
                    - 1651
                    ten_specific_conta:
                    - 13
                    - 14
                    - 15
                    - 16
                    - 17
                    - 19
                    - 20
                    - 21
                  owners:
                  - id: 446
                    ownerType: primary
                - organizationId: 8
                  imageId: null
                  about: null
                  externalId: '8'
                  lifecycleStageId: 6
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Devpoint
                    mrr:
                      currencyDefinitionId: 5
                      value: 8000
                    renewal_date: '2019-02-18'
                    date_joined: '2018-10-08'
                  created: '2021-12-06T18:19:35.258Z'
                  modified: '2022-06-08T00:43:16.063Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Devpoint
                    date_joined: '2018-10-08'
                    renewal_date: '2019-02-18'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 13
                    license_count: 131
                    license_used: 40
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 8000
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 36000
                    wau: 33
                    mau: 84
                    active_channels: 32
                    weekly_new_users: 0
                    monthly_new_users: 8
                    nps: 10
                    csat: 0
                    qbr_date: '2022-06-02'
                    strategic_customer: false
                    tier: 15
                    support_tier: 20
                    pricing_tier: 24
                    integrations: 0
                    nps_scored: '2021-11-06'
                    mrr:
                      value: 44000
                      currencyDefinitionId: 5
                  owners: []
                - organizationId: 9
                  imageId: null
                  about: null
                  externalId: '9'
                  lifecycleStageId: 5
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Digitube
                    mrr:
                      currencyDefinitionId: 5
                      value: 8000
                    renewal_date: '2020-03-23'
                    date_joined: '2020-06-04'
                  created: '2021-12-06T18:19:36.872Z'
                  modified: '2022-06-08T00:44:09.157Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Digitube
                    date_joined: '2020-06-04'
                    renewal_date: '2020-03-23'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 14
                    license_count: 75
                    license_used: 165
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 8000
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 15000
                    wau: 40
                    mau: 96
                    active_channels: 32
                    weekly_new_users: 5
                    monthly_new_users: 15
                    nps: 3
                    csat: 6
                    qbr_date: '2022-09-26'
                    strategic_customer: false
                    tier: 17
                    support_tier: 20
                    pricing_tier: 24
                    integrations: 10
                    nps_scored: '2021-09-04'
                    mrr:
                      value: 23000
                      currencyDefinitionId: 5
                  owners: []
                - organizationId: 10
                  imageId: 5b311f964e6e1d01f9df4397995efebb1aa684fe/organizations/162367f0-b61c-4e0f-97f7-009f2026ded7.jpg
                  about: null
                  externalId: '10'
                  lifecycleStageId: 2
                  churned: 0
                  entityArchived: 0
                  scheduledChurn: 0
                  pulse: 4
                  globalFields:
                    name: P&G
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    mrr:
                      currencyDefinitionId: 64
                      value: 100
                    renewal_date: '2027-03-20'
                    date_joined: '2018-12-13'
                  created: '2021-12-06T18:19:38.478Z'
                  modified: '2024-06-07T08:24:37.024Z'
                  createdBy: 1
                  modifiedBy: 5
                  accounts: []
                  contacts:
                  - 10
                  - 510
                  - 1175
                  properties:
                    name: P&G
                    date_joined: '2018-12-13'
                    renewal_date: '2027-03-20'
                    expansion_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    expansion_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    sales_manager: 40
                    country: 9
                    csm: 10
                    license_count: 107
                    services_mrr:
                      currencyDefinitionId: 64
                      value: 100
                    software_mrr:
                      value: 400
                      currencyDefinitionId: 5
                    wau: 23100
                    mau: 38
                    active_channels: 33
                    weekly_new_users: 16
                    monthly_new_users: 15
                    nps: 0
                    csat: 7
                    qbr_date: '2022-04-09'
                    strategic_customer: false
                    tier: 18
                    support_tier: 20
                    pricing_tier: 482
                    integrations: 9
                    nps_scored: '2021-11-20'
                    mrr:
                      value: 50
                      currencyDefinitionId: 5
                    seg_num: 666
                    mrr_2:
                      currencyDefinitionId: 5
                      value: 10000000
                    h_num: 7768
                    h_user: 267
                    h_single: 118
                    h_org: 17
                    true_false_attribute79: false
                    org_parent:
                      value: 0
                      currencyDefinitionId: 5
                    total_revenue:
                      value: 0
                      currencyDefinitionId: 5
                    guides: 0
                    total_budget:
                      value: 0
                      currencyDefinitionId: 5
                    total_spent:
                      value: 0
                      currencyDefinitionId: 5
                    revenue:
                      value: 0
                      currencyDefinitionId: 5
                    revenue_captured:
                      value: 0
                      currencyDefinitionId: 5
                    project_manager: 449
                    release_10_numeric: 45.75
                    ro1: 209
                    ro2:
                    - 235
                    - 234
                    - 233
                    unique_text_attribute: h
                    ddd: 0
                    hii: 23145.75
                    bg: 0
                    testcur:
                      value: 0
                      currencyDefinitionId: 5
                    acc: 915
                    arr:
                      value: 0
                      currencyDefinitionId: 5
                    ac_advanced_calc_copy: 31069.75
                    newcalc41:
                      value: 0
                      currencyDefinitionId: 5
                    newhcal43:
                      value: 0
                      currencyDefinitionId: 5
                    newvcal43: 0
                    neadvcalc43:
                      value: 0
                      currencyDefinitionId: 5
                    shayne_mrr:
                      value: 10000400
                      currencyDefinitionId: 5
                  owners:
                  - id: 8
                    ownerType: primary
                - organizationId: 11
                  imageId: null
                  about: null
                  externalId: '11'
                  lifecycleStageId: 3
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Agimba
                    mrr:
                      currencyDefinitionId: 5
                      value: 2000
                    renewal_date: '2017-04-14'
                    date_joined: '2017-04-09'
                  created: '2021-12-06T18:19:40.219Z'
                  modified: '2022-06-08T00:43:25.697Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Agimba
                    date_joined: '2017-04-09'
                    renewal_date: '2017-04-14'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 9
                    license_count: 56
                    license_used: 141
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 2000
                    software_mrr:
                      currencyDefinitionId: 5
                      value: 27000
                    wau: 37
                    mau: 76
                    active_channels: 37
                    weekly_new_users: 4
                    monthly_new_users: 5
                    nps: 4
                    csat: 1
                    qbr_date: '2022-04-05'
                    strategic_customer: true
                    tier: 16
                    support_tier: 21
                    pricing_tier: 25
                    integrations: 9
                    nps_scored: '2021-09-09'
                    mrr:
                      value: 29000
                      currencyDefinitionId: 5
                  owners: []
                - organizationId: 12
                  imageId: null
                  about: null
                  externalId: '12'
                  lifecycleStageId: 3
                  churned: 0
                  entityArchived: 1
                  scheduledChurn: 0
                  pulse: null
                  globalFields:
                    name: Viva
                    mrr:
                      currencyDefinitionId: 5
                      value: 1000
                    renewal_date: '2018-08-09'
                    date_joined: '2018-11-04'
                  created: '2021-12-06T18:19:41.854Z'
                  modified: '2022-06-08T00:42:59.794Z'
                  createdBy: 1
                  modifiedBy: 1
                  accounts: []
                  contacts: []
                  properties:
                    name: Viva
                    date_joined: '2018-11-04'
                    renewal_date: '2018-08-09'
                    total_saas_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_service_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    total_mrr:
                      value: 0
                      currencyDefinitionId: 5
                    country: 3
                    license_count: 62
                    license_used: 28
                    services_mrr:
                      currencyDefinitionId: 5
                      value: 1000
                    software_mrr:
[...]
